li{list-style-type: none;}
.wrap{width:640px;height:330px; margin:10px auto;}
.wrap{
    margin-top:0;
    text-align: center;
}
/* .wrap .clock{height: 100px;} */
.wrap .clock{
    margin:10px auto;
    text-align: center;
}
.wrap .clock ul li{width: 60px;height: 220px;float: left;margin:0 10px;}
.wrap .clock ul li ul{position: relative;}
.wrap .clock ul li ul li{width:45px;height: 10px;display: block;}
.wrap .clock ul li ul li:nth-child(1){position:absolute;left: 35px;}
.wrap .clock ul li ul li:nth-child(2){position:absolute;transform:rotateZ(90deg);top:0px;left:15px;top:30px;}
.wrap .clock ul li ul li:nth-child(3){position:absolute;transform:rotateZ(90deg);top:0px;left:68px;top:30px;}
.wrap .clock ul li ul li:nth-child(4){position:absolute;top: 47px;left: 35px;}
.wrap .clock ul li ul li:nth-child(5){position:absolute;transform:rotateZ(90deg);top:78px;left:15px;}
.wrap .clock ul li ul li:nth-child(6){position:absolute;transform:rotateZ(90deg);left:68px;top: 78px;}
.wrap .clock ul li ul li:nth-child(7){position:absolute;top: 96px;left: 35px;}
.wrap .clock ul .point{width: 15px;}
.wrap .clock ul .point span{display:block;height: 10px;width: 10px;background: #000;margin:30px 30px;}
.wrap .date{
    position:relative;
    font-size:80px;
    height: 100px; 
    color: #000; 
    margin-top: 10px;
    /*border-bottom:3px solid red;*/}

.wrap .date span:first-child{float: left;margin-left: 10px;}
.wrap .date span:nth-child(2){float: right;margin-left: 100px;}

