.main {
  width: 400px;
  margin: 0 auto; }
  .main .author {
    text-align: center; }
    .main .author img {
      height: 70px; }
  .main canvas {
    box-sizing: border-box;
    display: block; }
  .main .time {
    text-align: center;
    letter-spacing: 3px; }
